@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@using Design.Models;
@{
    ViewData["Title"] = "Main_Screen";
    User user = JsonSerializer.Deserialize<User>(Context.Session.GetString("thisUser"));
}

<br>
<br />
<br>
<br />
<br>
<br />
<br>
<br />

<div class="text-center">
    <h4>Hello, @user.UserName, you are in your private chat </h4>
</div>


<div class="text-center">

    <form asp-action="SendMessage" asp-controller="User">

        <div class="form-group">
            <select name="ListUsers" class="form-control">

                @if (ViewBag.AllUsers != null)
                {
                    foreach (var item in ViewBag.AllUsers)
                    {
                        <option value="@item">@item</option>
                    }
                }

            </select>
        </div>

        <br>
        <br />

        <h6>
            <input type="text" name="Message" placeholder="Write a message..." style="font-size:medium" />
            <input type="image" value="Send Message" src="~/Imágenes/Flecha.png" class="btn-outline-success" />
        </h6>

    </form>

</div>

<table align="center" cellspacing="0" cellpadding="0" border="0" width="1200">
    <tr>
        <td>
            <table align="center" cellspacing="0" cellpadding="1" border="1" width="1200">
                <tr style="color:white;background-color:#EF7708">
                    <th>Emisor</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div style="width:1200px; height:250px; overflow:auto;">
                <table align="center" class="table" cellspacing="0" cellpadding="1" border="1" width="1200">

                    @if (ViewBag.actualMessages != null)
                    {
                        foreach (Message item in ViewBag.actualMessages)
                        {

                            <tr>
                                <td>
                                    <h6>@item.emisor</h6>
                                </td>
                                @if (item.type == "archive")
                                {
                                    <td>
                                        @Html.ActionLink(item.message, "DownloadFile", new { id = item._id })
                                    </td>
                                }
                                else if (item.type == "message")
                                {
                                    <td>
                                        <h6>@item.message</h6>
                                    </td>
                                }
                                <td>
                                    <h6>@item.date</h6>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </td>
    </tr>
</table>

<div class="text-center">
     <form asp-action="SearchMessages" asp-controller="User">

         <h6>
             <input type="text" name="receptor" placeholder="User..." />
             <input type="text" name="MessageToSearch" placeholder="Write something..." style="font-size:medium" />
             <input type="image" value="Search Message" class="btn-outline-light" src="~/Imágenes/Search.png" />
         </h6>
        </form>
</div>

<br>
<br />

<div class="text-center">
    <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Archive">

        <div class="form-group">
            <table>
                <tr>
                    <td><input type="text" name="receptor" placeholder="User..." /></td>
                    <td></td>
                    <td><input type="file" name="file" /><input type="image" value="Add File" class="btn-outline-warning" src="~/Imágenes/Archivos.png" /></td>
                </tr>
            </table>
        </div>

    </form>
</div>

<body style="        font-family: 'Eras ITC';
        background-image: url('../Imágenes/Mensajes.jpg');">
</body>